body {
    background-image: url('../asset/icon/backgroundAbout1.png'), url('../asset/icon/backgroundAbout2.png'), url('../asset/icon/backgroundAbout3.png');
    background-repeat: no-repeat;
    background-position: right 35vh, right 150vh, bottom left;
    background-size: 35%, 13%, 20%;
}

.first-text {
    font-family: 'poppinsBold';
    display: inline;
    font-size: 65px;
}

.colon {
    color: #078282;
}

.in-container .container {
    margin-top: 10vh;
}

#img-self {
    margin-right: 7vw;
    width: 20vw;
}

.title {
    font-family: 'poppinsBold';
    font-size: 25px;
}

.box-text {
    margin-top: -13vh;
    margin-left: 5vw;
    width: 30vw;
    height: 270px;
}

.skills-box {
    background-color: #078282;
    color: white;
    width: fit-content;
    padding: 0.7rem;
    margin-top: 10vh;
    margin-left: 15vw;
}

.hobbies-box {
    text-align: center;
    margin-top: -10vh;
}

.hobbies-list {
    color: #078282;
    width: 200px;
    margin: auto;
    text-align: left;
}

.job-exp {
    width: 80vw;
    margin-bottom: 3rem;
}

.org-exp {
    width: 80vw;
    margin-top: 3rem;
}

.resume-box {
    border: 2px solid #078282;
    width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 5vh;
}

.resume-box:hover {
    cursor: pointer;
    background-color: #078282;
    color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.resume-box p {
    display: inline;
}

.exp-box {
    text-align: center;
    margin-top: 10vh;
}

.exp {
    color: #078282;
    width: 35vw;
    margin: auto;
    text-align: left;
}

.exp b {
    font-family: 'poppinsBold';
}

[class$="list"] {
    font-family: 'poppinsMedium';
}