@font-face {
    font-family: poppinsBold;
    src: url(../asset/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsMedium;
    src: url(../asset/font/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsRegular;
    src: url(../asset/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsSemiBold;
    src: url(../asset/font/Poppins-SemiBold.ttf);
}

body {
    background-color: #F5F5F5;
    font-family: 'poppinsRegular';
}

.footer-homepage {
    margin-top: 8rem;
    margin-bottom: 5vh;
}

.footer-homepage p {
    display: inline;
}