body {
    background-image: url('../asset/icon/backgroundContact1.png'), url('../asset/icon/backgroundContact2.png');
    background-repeat: no-repeat;
    background-position: left 35vh, bottom right;
    background-size: 10%, 20%;
}

.title {
    font-family: 'poppinsBold';
    font-size: 65px;
}

.in-container .container {
    margin-top: 10vh;
}

.title p {
    color: #078282;
    display: inline;
}

.description {
    margin-top: 5vh;
    width: 30vw;
    margin-left: 5.5vw;
}

.phone {
    margin-top: 5vh;
    margin-left: 5.5vw;
    color: #078282;
    font-size: 25px;
    font-family: 'poppinsBold';
}

.email {
    margin-top: 5vh;
    margin-left: 5.5vw;
    font-size: 20px;
    font-family: 'poppinsBold';
}

.email a {
    color: black;
}

.sosmed-contact {
    margin-left: 3vw;
}

.sosmed-contact img {
    margin-top: 1rem;
    width: 80px;
    padding: 0.5rem;
}